body {
    margin: 0 auto;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
}

.navbar-container {
    width: 100%;
    padding-top: 3%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1; 
}

.navbar {
    width: 645px;
    height: 68px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-item {
    margin: 0 1%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar-item-desc {
    text-decoration: none;
    font-size: 16px;
}

.navbar-item:hover .navbar-item-desc {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

.content {
    width: 80%;
    height: 100%;
    margin-top: 8%;
}

.title {
    font-size: 40px;
}

.item-settings-container {
    margin: 10px 0px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 24px;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
}

.textfield {
    height: 45px;
    width: 220px;
    padding: 0 20px;
    border-radius: 25px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap:10px
}

.form-password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px
}

.usage {
    margin-top: 10px ;
    font-size: 96px;
    font-weight: bold;
}

.button {
    height: max-content;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    background-color: black;
    font-size: 20px;
    border-radius: 15px;
}

.button:hover {
    color: black;
    background-color: white;
}