body {
    margin: 0 auto;
    font-family: sans-serif;
}

.navbar-container {
    width: 100%;
    padding-top: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1; 
}

.navbar {
    width: 645px;
    height: 68px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-item {
    margin: 0 1%;

    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar-item-desc {
    text-decoration: none;
    font-size: 16px;
}

.navbar-item:hover .navbar-item-desc {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

.content {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
}

.left {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 50%;

    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.right-content {
    width: 60%;
    padding-left: 10%;
}

.title {
    font-size: 64px;
    text-align: center;
}

h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}

.card {
    padding: 40px 40px;
    border: 2px solid black;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.textfield {
    height: 55px;
    width: 80%;
    padding: 0 10%;
    border-radius: 25px;
}

.link {
    color: black;
    text-decoration: underline;
}

.link:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.button {
    color: white;
    background-color: black;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 15px;
}

.button:hover {
    color: black;
    background-color: white;
}