.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.page-button {
    color: white;
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.page-button:hover {
    width: 45px;
    height: 45px;
    margin: 0;

    cursor: pointer;
}

.page-item {
    font-size: 36px;
    padding: 0 2%;
}

.page-item:hover {
    font-size: 38px;
    font-weight: bold;
    padding: 0 2%;
}

#list-pagination {
    display: flex;
}

#list-pagination p {
    margin-right: 10px;
}